<div class="container">
    <h1 class="text-center p-4">Logistics Management System</h1>
    <hr>
    <div class="icon-container">
        <i class="fa-solid fa-check text-center pt-10 m-auto" style="font-size: 100px; color: green;"></i>
    </div>
    <div class="container">
        <h2 class="text-center">Thanks for providing your Info</h2>
        <p class="text-center p-4" style="font-size: 20px; color: grey;"  >
            we will review your info and if everything will be ok<br>
            admin will confirm your registration details and you will<br>
            able to access your account after 10 mins
        </p>
    </div>
    <div class="btn-container  d-flex justify-content-center align-items-center">
        <button class="btn btn-primary m-auto text-center btn-lg" style="width:300px" [routerLink]="['/loginpage']"><b>Done</b></button>
    </div>
</div>

<style>
    .icon-container {
    display: flex;
    justify-content: center;
    height: 20vh;
}
</style>